/*base*/
:root {
  --gap: 10rem;
}

@font-face {
  font-family: regular;
  src: url(../../assets/fonts/Heebo-Regular.woff2);
}
@font-face {
  font-family: medium;
  src: url(../../assets/fonts/Gilroy-Medium.woff2);
}
@font-face {
  font-family: light;
  src: url(../../assets/fonts/Heebo-Light.woff2);
}
@font-face {
  font-family: bold;
  src: url(../../assets/fonts/Gilroy-Bold.woff2);
}
@font-face {
  font-family: thin;
  src: url(../../assets/fonts/Heebo-Thin.woff2);
}
@font-face {
  font-family: GTregular;
  src: url(../../assets/fonts/GTSectraDisplay-Regular.woff2);
}
@font-face {
  font-family: GTbold;
  src: url(../../assets/fonts/GTSectraDisplay-Bold.woff2);
}
/*Fonts Variables*/
:root {
  --font-regular: "regular", sans-serif;
  --font-GTregular: "GTregular", sans-serif;
  --font-light: "light", sans-serif;
  --font-medium: "medium", sans-serif;
  --font-bold: "bold", sans-serif;
  --font-GTbold: "GTbold", sans-serif;
  --font-thin: "thin";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #15161B;
  color: #FCFCFC;
  font-family: var(--font-regular);
}

main {
  position: relative;
}

/*layout*/
#section-1 {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  position: relative;
}
#section-1 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: var(--font-medium);
  padding: 1.5rem 2.5rem;
  padding-top: 3.5rem;
}
#section-1 nav .nav-elem {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 10rem;
}
#section-1 nav .nav-elem img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#section-1 .middle {
  display: flex;
  gap: var(--gap);
}
#section-1 .middle .left,
#section-1 .middle .right {
  width: 50%;
}
#section-1 .middle .left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block: 7rem; /*vartical*/
}
#section-1 .middle .left h1 {
  font-family: var(--font-GTbold);
  font-size: 8rem;
  line-height: 0.8;
  text-align: right;
}
#section-1 .bottom {
  display: flex;
  gap: var(--gap);
}
#section-1 .bottom .left,
#section-1 .bottom .right {
  width: 50%;
}
#section-1 .bottom .right {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
#section-1 .bottom .right p {
  font-size: 1.7rem;
  font-family: var(--font-light);
  line-height: 1.5;
}
#section-1 .bottom .right span {
  opacity: 0.5;
}
#section-1 .bottom .right .links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#section-1 .bottom .right .links a {
  text-decoration: none;
  color: aliceblue;
  font-size: 0.9rem;
}
#section-1 .bottom .right .links span {
  color: aliceblue;
  font-size: 0.9rem;
}
#section-1 .first-line {
  width: 45rem;
  background-color: rgba(253, 74, 65, 0.8588235294);
  height: 1px;
  position: absolute;
  transform: rotate(45deg) translate(-19rem, -15rem);
}
#section-1 .second-line {
  width: 10rem;
  background-color: rgba(253, 74, 65, 0.8588235294);
  height: 1px;
  position: absolute;
  transform: rotate(135deg);
  top: 30%;
  right: 15%;
}

#section-2 {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

#section-3 {
  min-height: 100vh;
  border: 2px solid white;
  position: relative;
  z-index: 2;
}/*# sourceMappingURL=main.css.map */