/*base*/
:root {
  --gap: 10rem;
}

@font-face {
  font-family: regular;
  src: url(../../assets/fonts/Heebo-Regular.woff2);
}
@font-face {
  font-family: medium;
  src: url(../../assets/fonts/Gilroy-Medium.woff2);
}
@font-face {
  font-family: light;
  src: url(../../assets/fonts/Heebo-Light.woff2);
}
@font-face {
  font-family: bold;
  src: url(../../assets/fonts/Gilroy-Bold.woff2);
}
@font-face {
  font-family: thin;
  src: url(../../assets/fonts/Heebo-Thin.woff2);
}
@font-face {
  font-family: GTregular;
  src: url(../../assets/fonts/GTSectraDisplay-Regular.woff2);
}
@font-face {
  font-family: GTbold;
  src: url(../../assets/fonts/GTSectraDisplay-Bold.woff2);
}
/*Fonts Variables*/
:root {
  --font-regular: "regular", sans-serif;
  --font-GTregular: "GTregular", sans-serif;
  --font-light: "light", sans-serif;
  --font-medium: "medium", sans-serif;
  --font-bold: "bold", sans-serif;
  --font-GTbold: "GTbold", sans-serif;
  --font-thin: "thin";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: #15161b;
  color: #fcfcfc;
  font-family: var(--font-regular);
}

main {
  position: relative;
}

#canvas-elem::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(../src/assets/images/background-l.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in;
}

/*Parent selector*/
main:has(#section-2 .title:hover) #canvas-elem::after {
  opacity: 0;
}

/*All background images*/
.images {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

main:has(#section-2 .title[img-title=tomorrowland]:hover) #tomorrowland {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title=navy-pier]:hover) #navy-pier {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title=msi-chicago]:hover) #msi-chicago {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title=phone]:hover) #phone {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title=kikk]:hover) #kikk {
  opacity: 1;
  background-color: rgba(1, 15, 92, 0.679);
}

main:has(#section-2 .title[img-title=kennedy]:hover) #kennedy {
  opacity: 1;
  background-color: rgb(4, 24, 4);
}

main:has(#section-2 .title[img-title=opera]:hover) #opera {
  opacity: 1;
  background-color: rgba(137, 4, 4, 0.762);
}

/*layout*/
#section-1 {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  position: relative;
}
#section-1 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: var(--font-medium);
  padding: 1.5rem 2.5rem;
  padding-top: 3.5rem;
}
#section-1 nav .nav-elem {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 10rem;
}
#section-1 nav .nav-elem img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#section-1 .middle {
  display: flex;
  gap: var(--gap);
}
#section-1 .middle .left,
#section-1 .middle .right {
  width: 50%;
}
#section-1 .middle .left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block: 7rem; /*vartical*/
}
#section-1 .middle .left h1 {
  font-family: var(--font-GTbold);
  font-size: 8rem;
  line-height: 0.8;
  text-align: right;
}
#section-1 .bottom {
  display: flex;
  gap: var(--gap);
}
#section-1 .bottom .left,
#section-1 .bottom .right {
  width: 50%;
}
#section-1 .bottom .right {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
#section-1 .bottom .right p {
  font-size: 1.7rem;
  font-family: var(--font-light);
  line-height: 1.5;
}
#section-1 .bottom .right span {
  opacity: 0.5;
}
#section-1 .bottom .right .links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#section-1 .bottom .right .links a {
  text-decoration: none;
  color: aliceblue;
  font-size: 0.9rem;
}
#section-1 .bottom .right .links span {
  color: aliceblue;
  font-size: 0.9rem;
}
#section-1 .first-line {
  width: 45rem;
  background-color: rgba(253, 74, 65, 0.8588235294);
  height: 1px;
  position: absolute;
  transform: rotate(45deg) translate(-19rem, -15rem);
}
#section-1 .second-line {
  width: 10rem;
  background-color: rgba(253, 74, 65, 0.8588235294);
  height: 1px;
  position: absolute;
  transform: rotate(135deg);
  top: 30%;
  right: 15%;
}

#section-2 {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  margin-block: 20rem;
}
#section-2 .titles {
  display: flex;
  flex-direction: column;
  padding-inline: 5rem;
}
#section-2 .titles .top {
  width: 23%;
}
#section-2 .titles .top h1 {
  text-align: right;
  font-family: var(--font-GTbold);
  font-size: 0.9rem;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 0.2rem;
}
#section-2 .titles .title {
  display: flex;
  gap: 4rem;
  opacity: 0.3;
  padding-block: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#section-2 .titles .title h1 {
  font-size: 6rem;
  font-family: var(--font-thin);
  font-weight: 300;
  line-height: 1;
}
#section-2 .titles .title small {
  margin-top: 0.6rem;
  font-family: var(--font-bold);
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}
#section-2 .titles .title:hover {
  opacity: 1;
}
#section-2 .titles .first-line {
  width: 30rem;
  background-color: rgba(253, 74, 65, 0.8588235294);
  height: 1px;
  position: absolute;
  transform: rotate(150deg) translate(-15rem, -95rem);
}

#section-3 {
  position: relative;
  z-index: 2;
  padding-top: 10rem;
  padding-inline: 10rem;
  z-index: 0;
  isolation: isolate;
  min-height: initial;
}
#section-3 .top,
#section-3 .bottom {
  display: flex;
  gap: 10rem;
  width: 100%;
}
#section-3 .top .top,
#section-3 .top .left,
#section-3 .bottom .top,
#section-3 .bottom .left {
  padding-left: 6rem;
}
#section-3 .top span,
#section-3 .bottom span {
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}
#section-3 .top h3,
#section-3 .bottom h3 {
  font-size: 3.5rem;
  font-family: var(--font-GTregular);
  font-weight: 400;
  line-height: 1.2;
  margin-top: 2rem;
  color: #fcfcfc;
}
#section-3 .left,
#section-3 .right {
  width: 50%;
}
#section-3 .bottom .right {
  display: flex;
  gap: 2rem;
}
#section-3 .bottom .right p {
  opacity: 0.5;
}
#section-3 .first-line {
  width: 25rem;
  background-color: rgba(253, 74, 65, 0.8588235294);
  height: 1px;
  position: absolute;
  transform: rotate(45deg) translate(-2rem, 5rem);
}

#section-4 {
  position: relative;
  z-index: 999;
}
#section-4 .top,
#section-4 .bottom {
  display: flex;
  gap: 10rem;
  width: 100%;
}
#section-4 .top .top,
#section-4 .top .left,
#section-4 .bottom .top,
#section-4 .bottom .left {
  padding-left: 6rem;
}
#section-4 .left,
#section-4 .right {
  width: 50%;
}
#section-4 .bottom .right {
  display: flex;
  gap: 2rem;
}
#section-4 .bottom .right p {
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */