/*base*/
@use "../styles/color/variables";
@use "../styles/fonts/typography";
@use "../styles/base/global";

/*layout*/
@use "../styles/layouts/dog.scss";
@use "../styles/layouts/_section1.scss";
@use "../styles/layouts/_section2.scss";
@use "../styles/layouts/_section3.scss";
@use "../styles/layouts/_section4.scss";
@use "../styles/layouts/_footer.scss";

