#section-2 {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  padding-block: 20rem;
  .titles {
    display: flex;
    flex-direction: column;
    padding-inline: 5rem;
    .top {
      width: 23%;
      h1 {
        text-align: right;
        font-family: var(--font-GTbold);
        font-size: 0.9rem;
        text-transform: uppercase;
        opacity: 0.5;
        letter-spacing: 0.2rem;
      }
    }
    .title {
      display: flex;
      gap: 4rem;
      opacity: 0.5;
      padding-block: 2rem;
      align-items: flex-s;
      h1 {
        font-size: 6rem;
        font-family: var(--font-thin);
        font-weight: 300;
        line-height: 1;
      }
      small {
        margin-top: 0.6rem;
        font-family: var(--font-bold);
        font-size: 0.9rem;
      }
    }
  }
}
