#section-2 {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  margin-block: 20rem;
  .titles {
    display: flex;
    flex-direction: column;
    padding-inline: 5rem;

    .top {
      width: 23%;
      h1 {
        text-align: right;
        font-family: var(--font-GTbold);
        font-size: 0.9rem;
        text-transform: uppercase;
        opacity: 0.5;
        letter-spacing: 0.2rem;
      }
    }
    .title {
      display: flex;
      gap: 4rem;
      opacity: 0.3;
      padding-block: 2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      h1 {
        font-size: 6rem;
        font-family: var(--font-thin);
        font-weight: 300;
        line-height: 1;
      }
      small {
        margin-top: 0.6rem;
        font-family: var(--font-bold);
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
      }
    }
    .title:hover {
      opacity: 1;
    }
    .first-line {
      width: 30rem;
      background-color: #fd4a41db;
      height: 1px;
      position: absolute;
      transform: rotate(150deg) translate(-15rem, -95rem);
    }
  }
}
