#section-3 {
  position: relative;
  z-index: 2;
  padding-top: 10rem;
  padding-inline: 10rem;
  z-index: 0;
  isolation: isolate;
  min-height: initial;

  .top,
  .bottom {
    display: flex;
    gap: 10rem;
    width: 100%;
    .top,
    .left {
      padding-left: 6rem;
      // padding-top: 2rem;
    }
    span {
      text-transform: uppercase;
      opacity: 0.5;
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
    }
    h3 {
      font-size: 3.5rem;
      font-family: var(--font-GTregular);
      font-weight: 400;
      line-height: 1.2;
      margin-top: 2rem;
      color: #fcfcfc;
    }
  }
  .left,
  .right {
    width: 50%;
  }
  .bottom .right {
    display: flex;
    gap: 2rem;
    p {
      opacity: 0.5;
    }
  }
  .first-line {
    width: 25rem;
    background-color: #fd4a41db;
    height: 1px;
    position: absolute;
    transform: rotate(45deg) translate(12rem, 2rem);
  }
}
