*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    width: 100%;
    height: 100%;
    background-color: #15161B;
    color: #FCFCFC;
    font-family: var(--font-regular);
}
main{
    position: relative;
}